/* Base css */

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-right: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

html,
body {
    height: 100%;
}

a:hover {
    text-decoration: none;
}



.section-bg {
    background-image: url('img/bg.jpeg');
}

.section-padding {
    position: relative;
    z-index: 3;
}
.section-bg {
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 60%;
    background-size: cover;
    z-index: 2;
}
.section-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #31d6be;
    z-index: -1;
}
